body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20%;
    margin-right: 20%;
}

.demo-grid{
    display: grid;
    grid-template-columns: 50% 50%;
}

.algorithm-gifs{
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.algorithm-cell{
    text-align: center;
    margin-top: 20px;
}

.algorithm-cell img{
    width: 98%;
    object-fit: contain;
}

.showcase{
    text-align: center;
    margin-top: 20px;
}

.demonstration{
    text-align: center;
    margin-top: 20px;
}

.showcase img{
    width: 100%;
    object-fit: contain;
}

.demonstration img{
    width: 98%;
    object-fit: contain;
}
